In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("stocks.csv", header=[0, 1], index_col=0)
data.head()

Ticker                         SQNXF
Price                           Open       High        Low      Close
Date
2014-01-02 00:00:00+00:00  17.629999  17.629999  17.629999  17.629999  \
2014-01-03 00:00:00+00:00  17.629999  17.629999  17.629999  17.629999
2014-01-06 00:00:00+00:00  17.740000  17.809999  17.740000  17.809999
2014-01-07 00:00:00+00:00  17.809999  17.809999  17.809999  17.809999
2014-01-08 00:00:00+00:00  17.809999  17.809999  17.809999  17.809999

Ticker                                            NFLX
Price                      Adj Close Volume       Open       High        Low
Date
2014-01-02 00:00:00+00:00  15.835086      0  52.401428  52.511429  51.542858  \
2014-01-03 00:00:00+00:00  15.835086      0  52.000000  52.495712  51.842857
2014-01-06 00:00:00+00:00  15.996759    300  51.889999  52.044285  50.475716
2014-01-07 00:00:00+00:00  15.996759      0  49.684284  49.698570  48.152859
2014-01-08 00:00:00+00:00  15.996759      0  48.104286  49.425713  48.074287

Ticker                                ...        DIS
Price                          Close  ...        Low      Close  Adj Close
Date                                  ...
2014-01-02 00:00:00+00:00  51.831429  ...  75.900002  76.269997  69.643196  \
2014-01-03 00:00:00+00:00  51.871429  ...  76.010002  76.110001  69.497101
2014-01-06 00:00:00+00:00  51.367142  ...  75.489998  75.820000  69.232292
2014-01-07 00:00:00+00:00  48.500000  ...  75.900002  76.339996  69.707115
2014-01-08 00:00:00+00:00  48.712856  ...  74.809998  75.220001  68.684433

Ticker                                SONY
Price                        Volume   Open   High    Low  Close Adj Close
Date
2014-01-02 00:00:00+00:00   5200900  3.466  3.478  3.416  3.432  2.903790  \
2014-01-03 00:00:00+00:00   4060700  3.442  3.452  3.424  3.436  2.907176
2014-01-06 00:00:00+00:00   6816200  3.460  3.498  3.454  3.460  2.927482
2014-01-07 00:00:00+00:00   4494900  3.472  3.476  3.440  3.464  2.930865
2014-01-08 00:00:00+00:00  10900300  3.480  3.664  3.452  3.650  3.088239

Ticker
Price                        Volume
Date
2014-01-02 00:00:00+00:00  13127000
2014-01-03 00:00:00+00:00   4642000
2014-01-06 00:00:00+00:00  11781500
2014-01-07 00:00:00+00:00  17191500
2014-01-08 00:00:00+00:00  42864500

[5 rows x 30 columns]

In [3]:
ticker_names = data.columns.get_level_values(0).unique().to_numpy()
ticker_names

array(['SQNXF', 'NFLX', 'NTDOY', 'DIS', 'SONY'], dtype=object)

In [4]:
for ticker in ticker_names:
    temp = data[ticker].reset_index()
    temp.columns.rename(None, inplace=True)
    temp.to_csv(f"{ticker}-stock.csv", index=False)